@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
:root {
  --background: #f5f5f5;
}

body {
  color: black;
  background: var(--background);
  font-family: var(--font-bebas-neue), sans-serif;
}